.data-next_flag{
    width: 350px;
    height: 200px;
    display: flex;
    flex-direction: column  ;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    background-color: #ffffff;
    border-radius: 16px;
}

.data-next_flag h2{
    font-family: jost, sans-serif;
    font-weight: 800;
    font-size: 30px;
    color: #1e640d;
}